<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a style="font: bold;font-size: 40px;text-decoration: none;color: black;" href="/login" ><%= title %></a>
    <p>Welcome to <%= title %></p>
  </body>
</html>
