<% if (messages.error) { %>
    <div class="alert alert-danger show-alert" data-time="<%= time %>">
        <%= messages.error %>
        <span class="close-alert">x</span>
    </div>
<% } %>

            <% if (locals.messages.error) { %>
                <div class="error-message">
                  <%= locals.messages.error %>
                </div>
              <% } %>